.productList {
  flex: 4;
  height: 450px;
  text-align: center;
}

.productListItem {
  display: flex;
  align-items: center;
}

.productListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.productListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.productListDelete {
  color: red;
  cursor: pointer;
}
.dataT {
  height: 100%;
  width: 95%;
  margin: 20px;
}
.btnHid {
  background-color: white;
  font-size: 28px;
  font-weight: 1000;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  border: 0 solid;
}
.btnHid:hover {
  background-color: rgb(233, 233, 233);
  border: 0 solid;
  font-size: 28px;
  font-weight: 1000;
  cursor: pointer;
  transition: 1s;
  padding: 10px;
}
